<h2 class="text-center my-5">Contas Cadastradas</h2>
<div class="container ">
  <button routerLink="/add" type="button" class="btn btn-success my-2">Cadastrar Conta</button>
  <table class="container table table-hover text-center card1 align-middle">
    <thead class="text-center">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cliente</th>
        <th scope="col">Conta do Cliente</th>
        <th scope="col">Valor da Transferência</th>
        <th scope="col">Excluir</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>

      <!-- Sintaxe pro for dentro do .TS -->
      <tr *ngFor="let item of ListarTarefas">
        <th scope="row">{{item.id_transferencia}}</th>
        <td>{{item.nomeCliente | uppercase}}</td>
        <td>{{item.contaCliente}}</td>
        <td>{{item.valor | currency: "BRL"}}</td>

        <td><button (click)='excluir(item.id_transferencia);' type=button class="btn btn-danger"><i class="bi bi-x-circle-fill fs-5"></i></button></td>
        <td><button (click)='editar(item.id_transferencia)' type=button class="btn btn-success"><i class="bi bi-pencil-square fs-5"></i></button></td>
      </tr>

    </tbody>
  </table>
</div>
